*{
    font-family: Helvetica,sans-serif;
}

.container{
    display: flex;
    gap: 50px;
    justify-content: center;
/* margin-top: 100px; */
align-items: center;
height: 500px;
}

.left{
    background-color: #CCCCCC;
    width: 300px;
    text-align: center;
    line-height: 300px
}

.text2 , .button{
    margin-top: 25px;
}

.text1{
    font-size: 20px;
    font-weight: 500;
}

button{
    background-color: transparent;
    height: 30px;
    width: 100px;
}